<br />
<%# <%= button_to "Back to Subjects", subjects_path, method: :get %1> %>
<%= link_to "Back to Subjects", subjects_path, :class => 'btn btn-primary' %>
<h1>Subject: <%= cap_sub(@subject) %></h1>
<br />
<%= link_to "Add Note to #{cap_sub(@subject)}", notesub_path(@subject), :class => 'btn btn-default btn-s', method: :get %>
<%= render(list_note(@subject)) || "You have no notes for #{cap_sub(@subject)}." %>
