<!DOCTYPE html>
<html>
  <head>
    <title>Take Note!</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id="header">
      <% if user_signed_in? %>
        <li>Hello, <%= current_user.email %></li>
        <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <%= link_to "Log In",  new_user_session_path %>
        <%= link_to "Sign Up", new_user_registration_path %>
      <% end %>
    </header>
    <%# <p class="notice"><%= notice %1></p> %>
    <%# <p class="alert"><%= alert %1></p> %>
    <%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>
    <%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %>
    <%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>
    <%= yield %>
  </body>
</html>
